
:root {
    --header-font: 'Prata', serif;
    --text-font: 'Lato', sans-serif;
    --primary-color: #010712;
    --secondary-color: #010712;
    --bg-color: #D4D9DB;
    --button-color: #010712;
    
}

h1 {
    font-family: var(--header-font);
}


 
  * {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }
  
  .contact-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
  }
  
  .left-col {
    width: 45vw;
    height: 100%;
    background-image: url("images/landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .logo {
    width: 10rem;
    padding: 1.5rem;
  }
  
  .right-col {
    background: var(--bg-color);
    width: 50vw;
    height: 100vh;
    padding: 5rem 3.5rem;
  }
  
  h1, label, button, .description {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  
  h1 {
    color:var(--h1-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
  }
  
  p {
    color: var(--secondary-color);
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
  }
  
  label, .description {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 0.625rem;
  }
  
  form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
  }
  
  input, textarea, label {
    width: 40vw;
    display: block;
  }
  
  p, placeholder, input, textarea {
    font-family: 'Lato', sans-serif;
  }
  
  input::placeholder, textarea::placeholder {
    color: var(--primary-color);
  }
  
  input, textarea {
    color: var(--primary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    text-transform: uppercase;
    font-weight: 300;
    background: var(--button-color);
    color: var(--bg-color);
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  
  input:hover, textarea:hover, button:hover {
    opacity: 0.5;
  }
  
  button:active {
    opacity: 0.8;
  }
  
  /* Toggle Switch */
  
 
  
  
  .description {
      margin-left: 1.25rem;
    }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 26px;
    height: 26px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--button-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #error, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(--secondary-color);
    }
  
    #success-msg {
    transition-delay: 3s;
    }
  
  @media only screen and (max-width: 950px) {
    .logo {
      width: 8rem;
    }
    h1 {
      font-size: 1.75rem;
    }
    p {
      font-size: 0.7rem;
    }
    input, textarea, button {
      font-size: 0.65rem;
    }
    .description {
      font-size: 0.3rem;
      margin-left: 0.4rem;
    }
    button {
      width: 7rem;
    }
    .theme-switch-wrapper {
      width: 120px;
    }
    .theme-switch {
    height: 28px;
    width: 50px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 20px;
    height: 20px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
    input:checked + .slider:before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
 
}

body{
	padding: 0;
	margin: 0;

}
footer{
	padding-top: 60px;
	background: url(./images/foot.jpg) center center;
	background-size: cover;
	background-color: #ddd;
	height: 360px;
	
   

}
h1{
	text-align: center;
	padding: 20px;
}
h2{
	color: #000;
	text-transform: capitalize;
	font-size: 24px;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 400;
	letter-spacing: 1px;
}
a,i{
	color: #000;
	font-family: 'Roboto';
	text-align: center;
}
p{
	color: #000;
	text-align: center;
	
	
}
hr{
	    border-top: 1px solid rgba(210, 90, 90, 0.1);
	width: 100%;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	padding-bottom: 30px;
}
li{
	padding: 5px;
	margin: 0;
	text-align: center;
}
a{
	padding: 5px;
	text-transform: capitalize;
	font-size: 18px;
}
a:hover{
	text-decoration: none;
	
}

.fa{
	
	padding-top: 10px;
	color: #000;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}
.download-icon .fa{
	font-size: 50px;
	padding: 10px;
}
.social .fa{
	padding-top: 30px;
	font-size: 30px;
	transition: .9s;
}
.social .fa:hover{
	transition: 1s;
	transform: scale(1.1);
	color: #ddd;
}
@media(max-width: 768px){
	footer{
		height: auto !important;
	}
	h2{
		font-size: 30px;
	}
}

    

.container {
    max-width: 100%;
}

.header-font {
    font-family: var(--header-font);
    color: black;
}

.text-font {
    font-family: var(--text-font);
    color: black;
}


/* ---Marcel - FIRST ROW--- */
.marcel-first-row {
    color: white;
    background-color: #232323;
}

.m-header-1 {
    font-size: 2.5em;
    color: white;
}

.m-header-1-2 {
    font-size: 1.2em;
}

.m-text-1 {
    text-align: justify
}

.m-picture-1 {
    height: 85%;
    width: auto;
    float: right;
}

/* ---Marcel - SECOND ROW--- */

.m-header-2 {
    font-size: 3em;
}

.m-button {
    height: 1.5em;
    border: 0;
    background-color: white;
    font-weight: bolder;
}

.m-second-row-lines {
    border: 0.1em solid black;
}

.m-picture-2 {
    height: 90%;
    width: auto;
}

/* ---Marcel - THIRD ROW--- */

.m-header-3 {
    font-size: 3em;
}

.caroussel-box {
    border: solid 1.5px #232323;
    height: 20em;
}

.customer-icon {
    width: 7em;
    height: 7em;
    background-color: #232323;
}

.m-header-3-2 {
    font-size: 1.2em;
    color: black;
}

